@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }

.btn {
    width: 150px;
    background-color: #F4A460;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn2 {
    
   background-image: url(admin2.png);
   background-size: cover;
   background-position: center;
   display: inline-block;
   border: none;
   outline: none;
   width: 200px;
   height: 50px;
   border-radius: 1100px;
   transition: all 0.5s;
   cursor: pointer;
  }
  
  .btn3 {
    
    background-image: url(profesor2.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 1100px;
    transition: all 0.5s;
    cursor: pointer;
   }
  
   .btn4 {
    
    background-image: url(tutores2.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 1100px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn5 {
    
    background-image: url(grupos\ y\ tutores.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;

    transition: all 0.5s;
    cursor: pointer;
   }

   .btn6 {
    
    background-image: url(Alumnos.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;

    transition: all 0.5s;
    cursor: pointer;
   }

   .btn7 {
    
    background-image: url(Contrasena.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn8 {
    
    background-image: url(Salir.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn5:hover {
    width: 350px;
    height: 87.5px;
  }
  
  .btn6:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn7:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn8:hover {
    width: 350px;
    height: 87.5px;
  }

  
  .btn:hover {
    background-color: #f09445;
  }

  .container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  

  .IzQ{
    display: inline-block; 
    width: 30%; 
    height: 100%;   
    float: left; 
    text-align:center; 
     
    position: relative;
    
    background-color: #fffcee;
    min-height: 150vh;
    overflow: hidden;
    padding-top: 5%;
    
  }

  .cafe{
    display: inline-block; 
    width: 2%; 
    height: 100%;   
     
    text-align:left; 
     
    float: left;
    min-height: 150vh;
    background-color: #5d5752;
    overflow: hidden;
    
  }

  .cafe2{
    display: inline-block; 
    width: 2%; 
    height: 100%;   
  
    text-align:left; 
     
    float: left;
    background-color: #68625c;
    
    min-height: 150vh;
    overflow: hidden;
    
  }

  .DER{
  display: inline-block;
   width: 66%; 
   height: 100%;
   text-align: center; 
   position: relative;
   background-color: #d1f6f5;
    min-height: 150vh;
    overflow: hidden;
    padding-top: 5%;
   
    
  }

  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }

