@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }

.btn {
    width: 150px;
    background-color: #F4A460;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn2 {
    
   background-image: url(admin2.png);
   background-size: cover;
   background-position: center;
   display: inline-block;
   border: none;
   outline: none;
   width: 200px;
   height: 50px;
   border-radius: 1100px;
   transition: all 0.5s;
   cursor: pointer;
  }
  
  .btn3 {
    
    background-image: url(profesor2.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 1100px;
    transition: all 0.5s;
    cursor: pointer;
   }
  
   .btn4 {
    
    background-image: url(tutores2.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    border-radius: 1100px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn5 {
    
    background-image: url(grupos\ y\ tutores.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;

    transition: all 0.5s;
    cursor: pointer;
   }

   .btn6 {
    
    background-image: url(Alumnos.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;

    transition: all 0.5s;
    cursor: pointer;
   }

   .btn7 {
    
    background-image: url(Contrasena.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn8 {
    
    background-image: url(Salir.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn9 {
    
    background-image: url(Registrar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn10 {
    
    background-image: url(Eliminar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn11 {
    
    background-image: url(Actualizar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn12 {
    
    background-image: url(tutores.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn13 {
    
    background-image: url(Regresar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height:75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn14 {
    
    background-image: url(Salidas.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height:75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn14:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn15 {
    
    background-image: url(emergencia.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height:75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn15:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn16 {
    
    background-image: url(Salidassss.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height:75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn16:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn17 {
    
    background-image: url(Confirmar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    outline: none;
    width: 300px;
    height:75px;
    transition: all 0.5s;
    cursor: pointer;
   }

   .btn17:hover {
    width: 350px;
    height: 87.5px;
  }

   .btn13:hover {
    width: 350px;
    height: 87.5px;
  }

   .btn5:hover {
    width: 350px;
    height: 87.5px;
  }
  
  .btn6:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn7:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn8:hover {
    width: 350px;
    height: 87.5px;
  }

  .btn9:hover {
    width: 250px;
    height: 62.5px;
  }

  .btn10:hover {
    width: 250px;
    height: 62.5px;
  }

  .btn11:hover {
    width: 250px;
    height: 62.5px;
  }

  .btn12:hover {
    width: 250px;
    height: 62.5px;
  }

  .container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  

  .IzQ{
    display: inline-block; 
    width: 30%; 
    height: 100%;   
    float: left; 
    text-align:center; 
     
    position: relative;
    
    background-color: #fffcee;
    min-height: 150vh;
    overflow: hidden;
    padding-top: 5%;
    
  }

  .cafe{
    display: inline-block; 
    width: 2%; 
    height: 100%;   
     
    text-align:left; 
     
    float: left;
    min-height: 150vh;
    background-color: #5d5752;
    overflow: hidden;
    
  }

  .cafe2{
    display: inline-block; 
    width: 2%; 
    height: 100%;   
  
    text-align:left; 
     
    float: left;
    background-color: #68625c;
    
    min-height: 150vh;
    overflow: hidden;
    
  }

  .DER{
  display: inline-block;
   width: 66%; 
   height: 100%;
   text-align: center; 
   position: relative;
   background-color: #d1f6f5;
    min-height: 150vh;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 5%;
    
  }

  .DER-R{
    display: inline-block;
     width: 50%; 
     height: 80%;
     text-align: left; 
     position: relative;
     background-color: #d1f6f5;
      float: right;
      overflow: hidden;
      padding-top: 5%;
      padding-left: 5%;
      
    }

    .DER-L{
      display: inline-block;
       width: 50%; 
       height: 80%;
       text-align: left; 
       position: relative;
       background-color: #d1f6f5;
        float: left;
        overflow: hidden;
        padding-top: 5%;
        padding-left: 5%;
        
      }

      .DER-B{
        display: inline-block;
         width: 100%; 
         height: 20%;
         text-align: left; 
         position: relative;
         background-color: #d1f6f5;
          
          overflow: hidden;
          padding-top: 5%;
          padding-left: 5%;
          
        }

  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }

  .derCen{
    max-width: 500px;
    background-color: #fff;
    outline: none;
    border: none;
    position: relative;
    padding-top: 5%;
    text-align:center;
    border-radius: 50px;
  }

